
html, body {
    height: 100%;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.wrapper {
    flex: 1 0 auto;
}

p {
    max-width: 600px;
}
.navbar {
    padding: 20px 0 0 0;
}
.navbar-brand {
    font-size: 2rem;
}
header {
    padding: 20px 0 0 0;
    z-index: -2;
    position: relative;
}
section {
    padding: 20px 0px;
}
.admin-section {
    margin-top: 40px;
}
footer {
    padding: 20px 0;
    flex-shrink: 0;
}

