p {
    max-width: 600px;
}
.navbar {
    padding: 20px 0 0 0;
}
.navbar-brand {
    font-size: 2rem;
}
header {
    padding: 20px 0;
}
section {
    padding: 20px 0px;
}
footer {
    padding: 20px 0;
}