
.btn-primary {
    background-color: $accent !important;
    border-style: none;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $unica;
    text-transform: uppercase;
    font-size: 1.8rem;
    display: absolute;
    z-index: 1;
    margin: -25px 0 0 0;
}
.btn-secondary {
    background-color: $accent !important;
    color: white !important;
    border-style: none;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $unica;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0;
}
.btn-secondary:hover {
    background-color: $primary !important;
}
.btn-secondary:hover {
    color: white;
    background-color: black;
}

#button-top {
    margin: 0 0 25px 0;
}
#edit {
   background-color: $primary !important;
   color: white;
   width: 250px !important;
}
#edit:hover {
    background-color: $accent !important;
}
#remove {
    background-color: none !important;
    border: 2px solid $accent;
    color: $accent;
    width: 200px;
    height: 40px;
    font-family: $unica;
    font-size: 1.4rem;
    text-transform: uppercase;
    align-items: center;
    padding: 0;
    margin-left: 40px;
}
#remove:hover {
    background-color: $accent;
    color: white;
}