i {
    color: $primary;
    font-size: 1.4rem;
    text-align: left
}
#top-icons-dropdown {
    padding: 0;
    margin-top: 40px;

    i {
        padding: 0 20px 0 0;
    }
}
.navbar {
    background-color: rgba(255, 240, 173, 0) !important;
    text-transform: uppercase;
    li {
        font-size: 2rem;
    }
}

.heart.fas {
    color: $accent;
}
#top-icons-main {
    display: flex;
    flex-direction: row;

    i {
        padding-left: 10px;
        font-size: 1.6rem;
    }
    a {
        text-decoration: none !important;
    }
    p {
        font-family: $unica;
        color: $accent;
    }
}
.welcome-message {
    padding: 0;
    p{
        margin: 0;
        font-size: 1rem;
        text-transform: capitalize;
        color: $primary !important;
       
    }
}
.basket-number {
    font-size: 1rem;
    font-family: $unica !important;
    
}
.interactive-link:hover {
    text-decoration: none !important;
}
.fa-sign-out-alt {
    cursor:pointer;

    p {
        font-size: 1rem;
        font-family: $vollkorn !important;
        text-transform: none;
    }
}
.navbar-brand {
    font-size: 2.6rem;
    text-transform: none;
    line-height: 1.7rem;
}
.navbar-brand span {
    padding-left: 65px;
    font-size: 1.4rem;
    text-transform: uppercase;
}