i {
    color: $primary;
    font-size: 1.4rem;
    text-align: left
}
#top-icons-dropdown {
    padding: 0;
    margin-top: 40px;

    i {
        padding: 0 20px 0 0;
    }
}
.navbar {
    background-color: rgba(255, 240, 173, 0) !important;
    text-transform: uppercase;
}

.heart.fas {
    color: $accent;
}
#top-icons-main {
    display: flex;
    flex-direction: row;

    i {
        padding-left: 10px;
    }

}
.welcome-message {
    padding: 0;
    p{
        margin: 0;
        font-size: 1rem;
        text-transform: capitalize;
       
    }
}
.basket-number {
    font-size: 0.9rem;
    display: inline-block;
    padding: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $primary;
    text-align: center;
    
}