i {
    color: $primary;
    font-size: 1.4rem;
    padding-left: 20px;
    text-align: left
}
#top-icons-dropdown {
    padding: 0;

    i {
        padding: 0 20px 0 0;
    }
}
.navbar {
    background-color: rgba(255, 240, 173, 0) !important;
    text-transform: uppercase;
}

#heart.fas {
    color: $accent;
}