.product {
    width: 100% !important;

    .row {
        width: 100% !important;
    }
}
#admin-section {
    width: 100%;
}
.product_navigation {
    background-color: $secondary;
    margin-top: 40px;
    height: auto;

    @media only screen and (min-width: 992px) {
        margin-top: 150px;
    }

    p {
        font-size: 1.2rem;
        text-decoration: underline;
    }
    h2 {
        padding-left: 0;
    }
    input {
        padding: 5px 15px;
        margin: 0 15px 20px 0px;
        border: none;
        font-family: $vollkorn;
        font-size: 1.2rem;
        color: $primary;
    }
}

.product_navigation p:hover {
   
        cursor: pointer;
        color: black;

}