$primary: #3B5070;
$secondary: #CBD9D9;
$accent: #EB505D;

$unica: 'Unica One', cursive;
$vollkorn: 'Vollkorn', serif;

h1 {
    font-family: $unica !important;
    text-transform: uppercase;
    font-size: 3rem !important;
    color: #ffffff !important;
}


