$primary: #3B5070;
$secondary: #CBD9D9;
$accent: #EB505D;


$navbar-light-active-color: #3B5070;
$navbar-light-hover-color: #3B5070; 
$navbar-light-brand-color:  #3B5070;

$unica: 'Unica One', cursive;
$vollkorn: 'Vollkorn', serif;


