header {
    width: 100%;
    
}
.header-container {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    
}
.header-container_image {
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_image {
    
    overflow: hidden;
}
.card_image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}