#edit-header-container {
    background-image: url(../../images/florencia-viadana-rMPr-UhfaXI-unsplash.jpg);
    max-width: 1200px;
    height: 80vh;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
}
#edit {
    background-color: none !important;
    border: 2px solid $accent;
    color: $accent;
    width: 150px;
    height: 40px;
    font-family: $unica;
    font-size: 1.4rem;
    text-transform: uppercase;
    align-items: center;
    padding: 0;
    margin-right: 40px;
}