#favorites-header_image {
    background-image: url(../../images/sole-bicycles-mZz_kW1SQQc-unsplash.jpg);
}
.product_navigation-content button {
    width: 100% !important;
    margin-bottom: 40px;
}
#favorites-input {
    margin: 0 0 40px 0 !important;
}