

.card-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0 60px 0;
    background-color: $secondary;
    
}

#about-text {
    margin: 0 auto;
    font-size: 1.2rem;
}

body {
    background-image: url(../../images/concrete-wall-1.png);
}