#products-header_image {
    background-image: url(../../images/will-h-mcmahan-99Z7QGwyB0A-unsplash.jpg);

}
.products_wrapper {
    padding: 20px 0 60px 0;
    background-color: white;
    margin-left: 30px;
    @media only screen and (max-width: 1020px) {
        margin-left: 0px;
    }
}
.products_menu {
    background-color: $secondary;
    
    margin-top: 40px;
    margin-left: -30px;

    @media only screen and (min-width: 992px) {
        margin-top: 130px;
    }
    @media only screen and (max-width: 1020px) {
        margin-left: 0px;
    }
    @media only screen and (min-width: 1259px) {
        margin-left: -60px;
    }
    

    p {
        font-size: 1.2rem;
    }

    input {
        margin-bottom: 20px;
    }
}
