#products-header_image {
    background-image: url(../../images/will-h-mcmahan-99Z7QGwyB0A-unsplash.jpg);

}
.products_wrapper {
    height: auto;
    padding: 20px 0 60px 0;
    background-color: white;
}
